.logo{
  width: 50px;
  height: 50px;
  position: absolute;
  left: 40px;
  top: 40px;
}
.logo img{
  width:100%;
  height: auto;
  border-radius: 50%;
}
body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: auto 2em;
  text-decoration: none;
}
a:hover{
  color:#EAF6F6;
}
.websites{
  color: #66BFBF;
  padding: 0%;
  margin: 0%;
}
.websites:hover{
  color: #11999E;
}
p{
  line-height: 2;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
h2{
  font-size: 2.3vmax;
  font-weight: normal;
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 1%;
}
h1{
  margin-top: 0;
  color: #66BFBF;
  font-size: 5vmax;
  font-family: 'Mystery Quest', cursive;
  margin: auto auto 0;
}
.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding: 2%;
}
.top-cloud{
  position: relative;
  width: 17%;
  left: 25%;
}
.bottom-cloud{
  position: absolute;
  top: 20%;
  width: 17%;
  left: 20%;
}
.main-logo{
  width :55%;
  position : relative;
  bottom: 5%;

}
.profile-pic{
  width: 25%;
  border-radius: 100%;
}
.bird-right{
  position: absolute;
  width:5%;
  right: 25%;
  top: 25%;

}
.bird-left{
  position: absolute;
  width:5%;
  left: 30%;
  top: 35%;
}
.head-bird-1{
  position: absolute;
  width: 2.5%;
  top: 8.6%;
  left: 38.5%;
  height: auto;
}
.skill-row{
  width: 50%;
  margin: 8% auto;
  text-align: left;
}
.skill-1{
  width: 25%;
  float: left;
  padding-right: 5%;


}
.skill-2{
  width: 25%;
  float: right;
  padding-left: 5%;
}
.skills{
  position: relative;
}
.middle-container{
  padding: 2vmax 0 2vmax;
}

hr{
  color: #66BFBF;
  border-style: dotted none none none;
  border-width: 0.7vmax;
  width: 10%;
  margin: 4vmax auto;
}
.profile{
  width: 50%;
  margin: auto auto;
}
.contact-message{
  width: 50%;
  margin: 2vmax auto 2vmax;
}
.bottom-container{
  background-color: #66BFBF;
  height: 6vmax;
  margin-top: 1em;
  padding: 3vmax 0 1vmax;
}
.copyright{
  font-family: 'Montserrat', sans-serif;
  color:#EAF6F6;
  font-size: 0.9vmax;
  padding: 1.1vmax 0;
}





.button-17 {
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  appearance: none;
  background-color: #E4F9F5;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;

  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  width: auto;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}
.button-17:hover {
    animation-name: background-color;
    animation-duration: 2s;
    }

    @keyframes background-color {
        100% {
        background-color:#66BFBF;
    }
}



.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
